/* Do tohoto souboru piš vlastní styly */

.digitalni__dvojtecka {
	/* Zadefinuj a zde pak použij animaci blikání */
}


/* Statický ukázkový čas 4:35:57 */
.analogove__hodinova {
	transform: rotate(137.5deg);
}
.analogove__minutova {
	transform: rotate(215.7deg);
}
.analogove__vterinova {
	transform: rotate(342deg);
}

@keyframes blikani {
	0% {
		 opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/*keyframes blikani {
	50% {
		opacity: 0;
	}
/*.digitalni__dvojtecka {
	animation: blikani 1s linear infinite;
}*/
.digitalni__dvojtecka {
	animation: blikani 1s linear infinite;
	animation-timing-function: steps (1, end) 
}
/*blikani bez prolínání*/

@keyframes toceni {
	0% {
	transform: rotate(0deg);
	}
	100%  {
	transform: rotate(360deg);	
	}
}
.analogove__hodinova {
	animation: toceni (60s *60 * 12) infinite linear;
}
.analogove__minutova {
	animation: toceni calc (60s * 60) infinite linear;
}
.analogove__vterinova {
	animation: toceni 60s infinite linear;
	animation-timing-function: steps(60, end);
}




/*
@keyframes vterinova {
0% {transform: rotate(0deg);
	background: red;
}
100% {
transform: rotate(360deg);
background: red;
}}
.analogove__vterinova {
	animation: vterinova 2s linear infinite;
}
@keyframes minutova {
	0% {transform: rotate(0deg);
		background: black;
	}
	100% {
	transform: rotate(360deg);
	background: black;
	}}
	.analogove__minutova {
		animation: minutova 1s linear infinite;
	}
*/